<div class="container">
  <div class="page-header">
    <%= form_for(@username) do |f| %>
      <div class="form-inline pull-right">
        <%= f.label :name, 'Find User', class: 'control-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    <% end %>
    <h1>Welcome</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.location %></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Repositories</th>
      </tr>
    </thead>
    <tbody>
      <% @repos.each do |repo| %>
        <tr>
          <td><%= repo.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
